/**
 *   全局共通样式
 *  
 **/

html {
    height: 100%;
    body {
        height: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}
